In [1]:
%%bash

cat house_sparrow_genome_assembly-18-11-14_masked.fa.fai | awk '{ print $1 }' > chrmnames.txt

cat GCA_001700915.1_Passer_domesticus-1.0_genomic.fasta.fai | awk '{ print $1 }' > chrmnamesnew.txt

cat annotation.gff | awk '{ print $1 }' > anno.txt

In [2]:
#First convert the two fasta indices into lists
import numpy as np
import pandas as pd

df1 = pd.read_csv("chrmnames.txt", header = None)

df2 = pd.read_csv("chrmnamesnew.txt", header = None)

anno = pd.read_csv("anno.txt", header = None)
anno

                    0
0       scaffold00512
1       scaffold00512
2       scaffold00512
3       scaffold00512
4       scaffold00512
...               ...
269121  scaffold00442
269122  scaffold00442
269123  scaffold00442
269124  scaffold00442
269125  scaffold00442

[269126 rows x 1 columns]

In [3]:
chrm = df1.iloc[:, 0].tolist()

In [17]:
chrmnew = df2.iloc[:, 0].tolist()

annochrm = anno.iloc[:,0]

chrmdict = dict(zip(chrm, chrmnew))
annochrm2 = annochrm.iloc[0:1000,]
annochrm2

0      scaffold00512
1      scaffold00512
2      scaffold00512
3      scaffold00512
4      scaffold00512
           ...
995             chr9
996             chr9
997             chr9
998             chr9
999             chr9
Name: 0, Length: 1000, dtype: object

In [20]:

annonew = annochrm.replace(chrmdict, regex=False)

In [21]:
annonew

0         MBAE01000501.1
1         MBAE01000501.1
2         MBAE01000501.1
3         MBAE01000501.1
4         MBAE01000501.1
               ...
269121    MBAE01000432.1
269122    MBAE01000432.1
269123    MBAE01000432.1
269124    MBAE01000432.1
269125    MBAE01000432.1
Name: 0, Length: 269126, dtype: object

In [22]:
annonew.to_csv('annonew.txt', header=None, index=None, sep=' ', mode='a')

In [23]:
cat annonew.txt

MBAE01000501.1
MBAE01000501.1
MBAE01000501.1
MBAE01000501.1
MBAE01000501.1
MBAE01000501.1
MBAE01000501.1
MBAE01000501.1
MBAE01000501.1
MBAE01000501.1
cat: stdout: Broken pipe

In [30]:
%%bash
awk 'BEGIN {FS=OFS="|"}NR == FNR {a[FNR] = $B;next}{$A = a[FNR];print $0}' B=1 A=1 annonew.txt annotation.gff > annofixed.txt